table {
    width: 100%;
    margin-top: 20px;
}

tfoot input {
    width: 100%;
    box-sizing: border-box;
}

.dropdown-container {
    display: flex;
    justify-content: right;
    padding: 10px;
}

.navigation, label {
    height: 20px;
    padding: 10px;
}

.side-button {
    margin: 1px 5px 1px 5px;
}

.spinner {
    border: 6px solid #eee;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: auto;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


